.addButton {
    padding: 0px;
    border-style: dashed;
    font-size: 2.6em;
    text-align: center;
    vertical-align: middle;
    color: gray;
    border-color: gray;
    background-color: white;
    height: 12vh;
    justify-content: center;
    align-items: center;
}

.addButton:hover {
    color: var(--site-accent-color-2);
    border-color: var(--site-accent-color-2);
}

