.stopwatchTime {
    font-size: 2em;
}

.stopwatchContainer {
    background-color: var(--container-color);
    border: var(--site-accent-color-2) solid;
    margin-bottom: 0.7vw;
    flex-direction: column;
    justify-content: space-between;
    height: 24vh;
}

.stopwatchTop {
    justify-content: space-between;
    border-bottom: 3px solid var(--site-accent-color-2);
    padding: 0 2% 0 2%;
    align-items: center;
}

.stopwatchTitle {
    border: 0;
    border-bottom: 1px solid gray;
    background: none;
}

.stopwatchTitle:focus {
    outline: none !important;
    border-bottom: 1px solid var(--site-accent-color-2);
}


.removeStopwatch {
    font-size: 2em;

}

.stopwatchButtons, .stopwatchTop {
    display: flex;
    height: 6vh;
}

.stopwatchButton {
    border-radius: 0;
    width: 100%;
    background-color: var(--container-color);
    color: var(--site-accent-color-2);
    border-top: 3px solid var(--site-accent-color-2);
    border-bottom: 0;
    font-weight: 800;
}

.stopwatchButton.left {
    border-left: 0;
    border-right: 1.5px solid var(--site-accent-color-2);
}

.stopwatchButton.middle {
    border-left: 1.5px solid var(--site-accent-color-2);
    border-right: 1.5px solid var(--site-accent-color-2);
}

.stopwatchButton.right {
    border-left: 1.5px solid var(--site-accent-color-2);
    border-right: 0;
    min-width: 50%;
}

.stopwatchButton:disabled {
    cursor: not-allowed;
    background-color: rgb(229, 229, 229);
    color: grey;
}

.stopwatchButton:hover {
    border-top: 3px solid var(--site-accent-color-2);
}

.stopwatchButton:hover:enabled,
.button:focus {
    background-color: var(--site-accent-color-2);
    color: var(--container-color);
}

.stopwatchButton:focus {
    outline: none;
}

.removeStopwatch {
    font-size: 2em;
}