.addButton {
    padding: 0px;
    border-style: dashed;
    font-size: 2.6em;
    text-align: center;
    vertical-align: middle;
    color: var(--site-accent-color-2);
    border-color: var(--site-accent-color-2);
    background-color: var(--site-bg-dm);
    height: 12vh;
    justify-content: center;
    align-items: center;
}

.addButton:hover {
    border-color: var(--text-dm);
    color: var(--text-dm);
    cursor: pointer;
}

