.stopwatchTime {
    font-size: 2em;
}

.stopwatchContainer {
    background-color: var(--site-bg-dm);
    border: var(--site-accent-color-2) solid;
    margin-bottom: 0.7vw;
    flex-direction: column;
    justify-content: space-between;
    height: 24vh;
    color: var(--text-dm);
    box-sizing: border-box !important;
}

.stopwatchTop {
    justify-content: space-between;
    border-bottom: 3px solid var(--site-accent-color-2);
    padding: 0 2% 0 2%;
    align-items: center;
}

.stopwatchTitle {
    border: 0;
    border-bottom: 1px solid gray;
    background: none;
    color: var(--text-dm);
    border-radius: 0;   
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 3px 0px;
}

.stopwatchTitle:focus {
    outline: none !important;
    border-bottom: 1px solid var(--site-accent-color-2);
}

.stopwatchIdentifiers {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: -0.5vw;
}

.removeStopwatch {
    font-size: 2em;

}

.stopwatchButtons, .stopwatchTop {
    display: flex;
    height: 6vh;
}

.stopwatchButton {
    border-radius: 0;
    width: 100%;
    background-color: var(--site-bg-dm);
    color: var(--text-dm);
    border-top: 3px solid var(--site-accent-color-2);
    border-bottom: 0;
    font-weight: 800;
}

.stopwatchButton.left {
    border-left: 0;
    border-right: 1.5px solid var(--site-accent-color-2);
}

.stopwatchButton.middle {
    border-left: 1.5px solid var(--site-accent-color-2);
    border-right: 1.5px solid var(--site-accent-color-2);
}

.stopwatchButton.right {
    border-left: 1.5px solid var(--site-accent-color-2);
    border-right: 0;
    min-width: 50%;
}

.stopwatchButton:disabled {
    cursor: not-allowed;
    background-color: var(--site-bg-dm-muted);
    color: rgba(255, 255, 255, 0.23);
}

.stopwatchButton:hover {
    border-top: 3px solid var(--site-accent-color-2);
}

.stopwatchButton:hover:enabled,
.button:focus {
    background-color: var(--site-accent-color-2);
    color: var(--container-color);
    cursor: pointer;
}

.stopwatchButton:focus {
    outline: none;
}

.removeStopwatch {
    font-size: 2em;
}

/* Mobile formatting */
@media (max-width: 801px) {
    .stopwatchContainer {
        width: 100%;
        margin-bottom: 2vw;
        height: 28vh;
    }
    .stopwatchButtons, .stopwatchTop {
        display: flex;
        height: 10vh;
    }

}

/* Mobile formatting */
@media (max-width: 381px) {
    .stopwatchContainer {
        margin-bottom: 4vw;
    }
}