#timePageContainer {
    display: flex;
    padding-left: 5vh;
    padding-right: 5vh;
    justify-content: space-around;
} 

#timerContainer {
    margin: 1rem
}

/* Mobile formatting */
@media (max-width: 801px) {
    #timePageContainer {
      flex-direction: column;
      gap: 2vh;
      margin-top: 2vh;
    }
}
  